<!DOCTYPE html>

<html lang="en">

   
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/blacks.css" rel="stylesheet" />
@*   <link href="css/responsive.css" rel="stylesheet" />*@

    </head>
    
    
<body>

    <div class="full">
        <header class="header">
            <ul class="header-menu">
                <li><a style="font-weight:bolder;font-size:2vh;color:white">GoodFood</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>


        </header>

    </div>
    <div class="main-section">
    <div class="left-section">
        <div class="header-text">
            GOOD FOOD PROJECT:::
        </div>
        <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Convallis convallis tellus id interdum velit laoreet. 
        Dui accumsan sit amet nulla.
        </div>
    </div>
    <div class="right-section">
        <!-- Miejsce na zdjęcie -->
        <img src="sciezka_do_zdjecia.jpg" alt="Zdjęcie" class="header-image">
    </div>
    </div>

        
    
</body>
</html>
