<!DOCTYPE html>

<html lang="en">

   
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/blacks.css" rel="stylesheet" />
@*   <link href="css/responsive.css" rel="stylesheet" />*@

    </head>
    
    
<body>

    <div class="full">
        <header class="header">
            <ul class="header-menu">
                <li><a style="font-weight:bolder;font-size:2vh;color:white">GoodFood</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>


        </header>

    </div>
    <div class="main-section">
    <div class="left-section">
        <div class="header-text">
            Nagłówek
        </div>
        <div>
            Podpis
        </div>
    </div>
    <div class="right-section">
        <!-- Miejsce na zdjęcie -->
        <img src="sciezka_do_zdjecia.jpg" alt="Zdjęcie" class="header-image">
    </div>
    </div>

        
    
</body>
</html>
