body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.navbar-title {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: default; 
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

    .navbar-menu li {
        margin: 0 10px;
        flex: 1;
        text-align: center;
    }

        .navbar-menu li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s;
            display: block;
            padding: 10px 15px; 
        }

            .navbar-menu li a:hover {
                color: grey;
            }

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 80px);
}

.recipe-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.recipe-text {
    flex: 1 1 60%;
    padding-right: 20px;
}

.recipe-title {
    font-size: 80px; 
    font-weight: bold;
    margin-bottom: 20px;
}

.recipe-description {
    font-size: 23px;
    line-height: 1.6;
    white-space: pre-line;
}

.recipe-image-wrapper {
    flex: 1 1 35%;
    max-width: 35%;
    margin-left: 20px;
    margin-bottom: 20px; 
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.btn {
    padding: 10px 20px;
    margin: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit {
    background-color: #007bff;
}

    .btn-edit:hover {
        background-color: #0056b3;
    }

.btn-delete {
    background-color: #dc3545;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

    .btn-delete:hover {
        background-color: #c82333;
    }

