body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: Helvetica;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;

}

header {
   width:100%;
   margin:0;
   padding:0;
   position:absolute;
   left:0;
   background:black;

}
.header-logo{
    font-weight:bolder;
    font-size:2vh;
    color:white;

}


    .header-menu.show {
        display: block;
        position: absolute;
        left: 0;
        width: 100vw;
        background-color: black;
        text-align: center;
        top:5vh;

    }

        .header-menu.show li {
            display: block;
            top:5vh;
        }

header-menu {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    top:5vh;
}

.header-menu li {
    display: inline-block;
    margin-right: 15vh;
    text-align: center;
    top:5vh;
}

    .header-menu li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        top:5vh;
    }

        .header-menu li a:hover {
            opacity: 0.7;
        }






    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 2vh;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 6vh; /* Dostosuj wysokoœæ stopki */
        clear:both;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .language {
        font-weight: bold;
    }

    .social-icons img {
        width: 3vh;
        margin-right: 1vh;
    }

    .logo {
        width: 10vh;
        height: auto;
    }

    .full {
        width: 100vw;
        margin: 0;
    }

    .container {
        margin: 0 auto;
        max-width: none;
    }

    .content {
        padding: 20px;
        margin: 0;
    }

    

    .main-section {
        display: flex;
        background-color: white;
        padding: 2vw;
        height: calc(100vh - 10vh); /* Wysokoœæ strony minus wysokoœæ headera i stopki */
        align-items: center;
    }

    .add-section{
        display:flex;
       flex-direction:column;
       justify-content:center;
       align-items:center;
       height:100vh;
    }

    .left-section {
        flex: 1;
        padding-right: 5vh;
        max-width: 70vh;
        padding-left: 10vh;
        word-wrap: break-word;
    }

    .right-section {
        flex: 1;
        padding-left: 5vh;
    }

    .header-text {
        font-size: 3vh;
        font-weight: bold;
        margin-bottom: 2vh;
    }

    .header-image {
        width: 100%;
        height: auto;
    }

    .full-screen-content {
        display: flex;
        height: 100vw;
        align-items: center;
        justify-content: center;
        padding: 5vh; /* Dodatkowy padding dla zawartoœci na ekranie pe³noekranowym */
    }



    .fa {
        padding: 2vh;
        font-size: 30vh;
        width: 5vh;
        text-align: center;
        text-decoration: none;
    }

        .fa:hover {
            opacity: 0.7;
        }

    .fa-facebook {
        color: white;
    }

    .fa-twitter {
        color: white;
    }

    .fa-youtube {
        color: white;
    }

    .fa-linkedin {
        color: white;
    }

    .join-button {
        background: black;
        color: white;
        padding: 1vh 2vh;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 1vh;
        display: block;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
    }

        .join-button:hover {
            opacity: 0.7;
            background-color:blue;
        }


    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

/*Recipes*/
.recipe-header {
    text-align: left;
    font-size: 3vh;
    font-weight: bolder;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-image {
    width: 50vw;
    height: auto;
}

.recipe-description {
    max-width: 70vh;
    word-wrap: break-word;
    text-align:left;
}

.recipe-button{
    max-width: 20vh;
    text-align:center;
    display:flex;
}




form {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2em;
    max-width: 400px;
    width: 100%;
    margin:2em auto;
}

    form input {
        width: 100%;
        padding: 0.5em;
        margin: 0.5em 0;
        box-sizing: border-box;
    }

    form button {
        background-color: #333;
        color: white;
        padding: 0.7em;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

        form button:hover {
            background-color: #555;
        }

.forgot-password {
    margin-top: 1em;
}



.recipe-form {
    width: 70%;
    max-width: 70vw;
    min-height: 0vh;
    max-height: 70vh;
    padding: 3vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin: 2rem; /* Dodany margines */
}

label {
    display: block;
    margin-bottom: 1.2rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1.2rem 1.8rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

.edit-btn,
.remove-btn {
    margin-left: 10px;
}

/* Style to align buttons to the right */
.recipe-actions {
    text-align: right;
    margin-top: 10px; /* Add space between buttons and text */
}

/* Flexbox styles */
.recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-item {
    width: 100%;
    max-width: 800px; /* Adjust maximum width as needed */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

