/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-title {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: space-evenly;
}

    .navbar-menu li {
        flex: 1;
        text-align: center;
    }

        .navbar-menu li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s;
            padding: 10px 15px;
        }

            .navbar-menu li a:hover {
                color: grey;
            }

/* Main Content Styles */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 20px;
    min-height: calc(100vh - 120px);
    background-color: #fff;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin-top: 20px;
    gap: 20px;
}

/* Recipe Card Styles */
.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    color: black;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease;
}

    .recipe-card:hover {
        transform: translateY(-10px);
    }

.recipe-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
    text-align: center;
}

.recipe-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-description {
    font-size: 16px;
    color: #777;
    white-space: pre-wrap; /* Ensure new lines are respected */
    max-height: 10em; /* Limit height */
    overflow: hidden; /* Hide overflow */
    position: relative; /* For text overlay */
}

    .recipe-description::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1em;
        background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    }

/* Footer Styles */
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-icons {
    margin-bottom: 10px;
}

    .footer-icons i {
        margin: 0 10px;
        color: white;
        transition: color 0.3s;
        font-size: 1.5em;
    }

        .footer-icons i:hover {
            color: grey;
        }

.footer p {
    margin: 10px 0 0;
    color: white;
}
