body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    height: 100%;
}

.header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-menu li {
    margin-left: 20px;
}

.header-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background 0.3s;
    border-radius: 5px;
}

.header-menu li a:hover {
    background-color: #495057;
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-section {
    width: 100%;
}

.form-container {
    width: 100%;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #218838;
}

.text-danger {
    color: #dc3545;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container i {
    margin: 0 10px;
    color: #ffcc00;
    transition: color 0.3s;
    text-decoration: none;
    font-size: 1.5em;
}

.footer-container i:hover {
    color: #ffd966;
}

.footer p {
    margin-top: 10px;
    font-size: 1em;
}
