/* Styl dla nag³ówka (navbar) */
.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

    .header-menu li {
        margin: 0 15px;
    }

    .header-menu a {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        transition: background-color 0.3s;
    }

        .header-menu a:hover {
            background-color: #575757;
        }

/* Styl dla kontenera g³ównego */
.main-content {
    max-width: 1200px;
    margin: 100px auto 0; /* dodanie marginesu od góry aby nie nachodzi³o na navbar */
    padding: 20px;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-item {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.recipe-item-text {
    flex: 1;
    padding-right: 20px;
}

.recipe-title a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

    .recipe-title a:hover {
        text-decoration: underline;
    }

.recipe-description {
    color: #666;
    margin-top: 8px;
}

.recipe-image {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin-left: 20px;
}

/* Styl dla stopki (footer) */
footer {
    background-color: #f1f1f1;
    padding: 64px 20px;
    text-align: center;
}

    footer i {
        margin: 0 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

        footer i:hover {
            color: #000;
        }

    footer p {
        font-size: 14px;
        margin-top: 20px;
        color: #666;
    }
