/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #000;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.header-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: space-evenly;
}

    .header-menu li {
        flex: 1;
        text-align: center;
    }

        .header-menu li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s;
            padding: 10px 15px;
        }

            .header-menu li a:hover {
                color: grey;
            }

/* Main Content Styles */
.main-content {
    margin-top: 70px; /* To accommodate the fixed navbar */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #f8f9fa;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.welcome-section {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

    .welcome-section h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .welcome-section h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .welcome-section p {
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #555;
    }

.join-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

    .join-link:hover {
        text-decoration: underline;
    }

.image-section {
    flex: 1;
    text-align: right;
}

.dining-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-icons {
    margin-bottom: 10px;
}

    .footer-icons a {
        margin: 0 10px;
        color: #ffcc00;
        font-size: 24px;
    }

        .footer-icons a:hover {
            color: #ffd966;
        }

.footer p {
    margin: 10px 0 0;
    font-size: 14px;
}
